*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: #4353cb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    padding: 10px
}
/*cabeçalho */
#cabeçalho{
    border-radius: 50px;
    width: 100%;
    position: fixed;
    background-color: #ff951c;
    display: flex;
    top: 0px;
    padding: 15px;
    justify-content: space-between;
    z-index: 4;
}
#cabeçalho div{
    margin-left: 50px;
}
#cabeçalho div a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
#cabeçalho div a:hover{
    color: rgb(122, 122, 122) ;
}
#cabeçalho nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 50px;
    font-size: 20px;
    margin-top: 10px;
}
#cabeçalho nav ul li a:hover{
    color: rgb(122, 122, 122);
}
#cabeçalho nav ul li a{
    text-decoration: none;
    color:white;
}
/* Sobre mim */
#about-me{
    max-width: 500px;
    font-size: 24px;
    text-align: center;
    position: flex;
}
#main-description{
    padding: 20px;
}
#sheron{
    text-decoration: none;
    color: brown;
}
#sheron:hover{
    color:rgb(122, 122, 122);
}
#trybe{
    color:rgb(15, 97, 26);
    text-decoration: none;
}
#trybe:hover{
    color:rgb(122, 122, 122) ;
}
#fontsize{
    font-size: 20px;
}
#foto{
    border-radius: 50px;
    width: 350px;
}
#foto-pessoal{
}
/* habilidades */
#habilidades{

}
#habilidades-title{
    padding: 20px;
}
#habilidades ul{
    padding: 20px 60px 20px 60px ;
}
#proativo{

}
#proativo:hover{
    background-color: chartreuse;
}
#coquetel{
    text-decoration: none;
    color: green;
}
#coquetel:hover{
    color:rgb(122, 122, 122) ;
}
#solucao-problemas{
    text-decoration: none;
    color: chartreuse;
}
#projetos{

}
#contato{
}
/* contato 
"https://www.linkedin.com/in/matheus-paul" target="_blank"
"https://instagram.com/matheuspaul_?igshid=YmMyMTA2M2Y=" target="_blank"
   ->